.DropDownProfile {
  position: absolute;
  background-color: #f5f5f5;
  z-index: 10;
  top: 30%;
  right: 335%;
  transform: translate(70%, 20%);
  border-radius: 15px;
  border: 1px solid gray;

  ul {
    padding: 0;
    width: 200px;
    height: 200px;
  }

  li {
    list-style: none;
    text-align: center;
  }

  li:nth-child(2) {
    border-top: 1px solid hsl(0, 0%, 0%, 0.5);
    margin-top: auto;
  }

  .DropDown-Menu {
    display: grid;
    align-items: center;
    // justify-content: center;

    .DropDown-SignIn {
      text-decoration: none !important;
      color: black;
    }
  }
}

.DropDownProfile::before {
  content: "";
  position: absolute;
  top: -0.3rem;
  right: 3.1rem;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: #f5f5f5;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}
